<%- include("partials/header.ejs") %>

<main>  <div class="box" id="heading">
    <h1>
      <%= weekday %>, <%= month %> <%= day %>
    </h1>
  </div>
  <div class="box">
    <% if(locals.todayList) {%>
      <% todayList.forEach(element => { %>
        <form action="/deleteTd" method="post">
          <div class="item">
            <input type="checkbox" name="checkbox" value="<%= element._id %>" onChange="this.form.submit()">
            <p name="element">
              <%= element.description %>
            </p>
          </div>
        </form>
      <% }) %>
    <% } %>

        <form class="item" action="/NewItem" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
          <button type="submit" name="list">+</button>
        </form>
  </div>
</main>

<%- include("partials/footer.ejs") %>